---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_BxPerDobKfZ1Evj70frECc7K
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14uJ4tDnMTO7dRB3J62wVoWD",
          "livemode": false,
          "created": 1414914431,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14uJ4tDnMTO7dRB3D0IG9bSY",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "ccU8j59zBXkSvpzk",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sun, 02 Nov 2014 07:47:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14uJ4tDnMTO7dRB3J62wVoWD&description=test
    headers:
      Authorization:
      - Bearer sk_test_BxPerDobKfZ1Evj70frECc7K
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14uJ4uDnMTO7dRB3FmAQMS4k",
          "object": "charge",
          "created": 1414914432,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14uJ4tDnMTO7dRB3D0IG9bSY",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "ccU8j59zBXkSvpzk",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14uJ4uDnMTO7dRB3FmAQMS4k/refunds",
            "data": []
          },
          "balance_transaction": "txn_14uJ4uDnMTO7dRB3ocZUdj7O",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "test",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {
            "stripe_report": null,
            "user_report": null
          },
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Sun, 02 Nov 2014 07:47:13 GMT
recorded_with: VCR 2.9.3
