---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_BxPerDobKfZ1Evj70frECc7K
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14uJ6PDnMTO7dRB3JiKD8tAp",
          "livemode": false,
          "created": 1414914525,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14uJ6PDnMTO7dRB3XTuZBJlF",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2015,
            "fingerprint": "BLn0wyVYQ2NA3uIv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Sun, 02 Nov 2014 07:48:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14uJ6PDnMTO7dRB3JiKD8tAp&description=test
    headers:
      Authorization:
      - Bearer sk_test_BxPerDobKfZ1Evj70frECc7K
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14uJ6QDnMTO7dRB3VHiNvNT3"
          }
        }
  recorded_at: Sun, 02 Nov 2014 07:48:46 GMT
recorded_with: VCR 2.9.3
